<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Olá, <%= nome %></h1>
    <p><%= texto %></p>
    
    <% if (usuarios) { %>
        <h3>Lista de Usuários (Admin):</h3>
        <ul>
            <% usuarios.forEach(usuario => { %>
                <li>ID: <%= usuario.idconta %> - <%= usuario.usuario %> - <%= usuario.senha %></li>
            <% }); %>
        </ul>
    <% } %>
</body>
</html>