<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand">Navbar</a>
              <p class="text-dark">Olá, <%= nome %></p>
            </div>
          </nav>
    </header>

    <main>
        <div>
            <h1><%= texto %></h1>
            
            <% if (usuarios) { %>
                <h3>Tabela de Usuários (Admin):</h3>
                
                <table class="table table-dark table-striped-columns">
                    <thead>
                      <tr>
                        <th scope="col">IDconta</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Senha</th>
                        <th scope="col">Grau de acesso</th>
                        <th scope="col">Mecanica</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% usuarios.forEach(usuario => { %>
                            <tr>
                                <th scope="row"><%= usuario.idconta %></th>
                                <td><%= usuario.usuario %></td>
                                <td><%= usuario.senha %></td>
                                <td><%= usuario.admin %></td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        editar usuario
                                    </button>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">Editar</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form action="">
                                                <div class="modal-body">
                                                    <input class="form-control me-2" type="hidden" value="<%= usuario.idconta %>" aria-label="Search" id="idconta" name="idconta">
                                                    <p class="text-dark">Usuario</p>
                                                    <input class="form-control me-2" type="search" value="<%= usuario.usuario %>" aria-label="Search" id="conta" name="conta">
                                                    <p class="text-dark">Senha</p>
                                                    <input class="form-control me-2" type="search" value="<%= usuario.admin %>" aria-label="Search" id="Senha" name="Senha">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </td>
                              </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } %>
        </div>
        </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>